.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e3eafc;
    border: 1px #e3eafc solid;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    color: #4081f4;
    height: 7vh;
    position: fixed;
    width: 100vw;
;
}
.menu>a{
    color: #4081f4;
    text-decoration: none;
    font-size: 18px;
}
.menu>a:hover{
    text-decoration:none;
    color:  #4081f4;
}
.menu>a[class='active']{
    color: #20085e;
}